*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "monospace";
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
}

#left{
    width: 40%;
    height: inherit;

}

#lnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 40px;
}

#lnavr a{
    margin-right: 30px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 18px;
}

#lnavr i{
    color: royalblue;
}

#lnavr{
    display: flex;
    align-items: center;
}

#main-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#right{
    width: 60%;
    height: inherit;
    background-color: black;
}

#right-top{
    height: 50%;
    background-color: pink;
    display: flex;
}

#right-bottom{
    width: 100%;
    height: 50%;
    background-color: springgreen;
}

#right-top-left{
    width: 50%;
    height: 100%;
    background-color: blueviolet;
}

#right-top-right{
    width: 50%;
    height: 100%;
    background-color: yellow;
}